/* styles.css */

/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background: url('../images/photo-1576072446580-32468f1b5439.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

/* Header */
.header {
    background-color: #A9270B;
    color: white;
    padding: 15px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: 'Pacifico', cursive;
}

/* Navigation Bar */
.nav-bar {
    background-color: #A9270B;
    color: white;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-bar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
    font-size: 18px;
    font-weight: bold;
}

.nav-bar a:hover {
    color: #ff0000;
}

/* Main Content */
.main-content {
    margin-top: 140px;
    margin-bottom: 60px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content img {
    max-width: 200px;
    margin-top: 20px;
}

.welcome-text {
    margin-top: 60px;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.main-content .description-text {
    font-size: 20px;
    margin-bottom: 20px;
    color: #000000;
}

.main-button, .red-button {
    background-color: #A9270B;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin: 10px;
}

.main-button:hover, .red-button:hover {
    background-color: #b22222;
}

/* Footer */
.footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

/* Form Styles */
.form-title {
    color: #000000;
    margin-top: 20px;
}

.form-container {
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container vaadin-text-field,
.form-container vaadin-password-field,
.form-container vaadin-button {
    width: 100%;
    margin-bottom: 10px;
}

.form-container vaadin-button {
    background-color: #A9270B;
    color: white;
}

.form-container vaadin-button:hover {
    background-color: #b22222;
}

.form-button {
    background-color: #A9270B;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin-top: 20px;
}

.form-button:hover {
    background-color: #b22222;
}

/* List Title */
.list-title {
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px;
}
.view-title {
    margin-bottom: 20px;
    color: #000000;
    font-size: 24px;
}
/* Responsive Design */
@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .nav-bar a {
        margin: 10px 0;
    }

    .main-content {
        margin-top: 180px;
    }
}
